optical-mark-recognition/multiple_choice_template.psd filter=lfs diff=lfs merge=lfs -text
*.psd filter=lfs diff=lfs merge=lfs -text
optical-mark-recognition/images/test_01.png filter=lfs diff=lfs merge=lfs -text
